body{
    font-family: 'Poppins', sans-serif;
}
.parent{
    position: relative;
}
.disc{
    position: absolute;
    right: 127px;
    bottom: 353px;
    z-index: 1;
}
.item{
    width: 18rem;
    height: 29rem;
    margin: 0px 30px;
}
@media only screen and (max-width:600px){
    .disc{
        position: absolute;
        right: 80px;
        bottom: 355px;
        z-index: 1;
    }
}
/* <script>
      AOS.init();
    </script> */